<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Manage Users All </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />-->
</head>

<style>

    div.text-center{
        text-align: center;
    }
    div.dialog{
        background-color: aliceblue;
        color: red;
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity linear 0.2s;
    }
    div.dialog:target{
        visibility: visible;
        opacity: 1;
    }

    .btn {
        text-align: center;   /* Canh chữ của button */
        height:40px;
        width:100px;
    }

</style>

<body>

<div class="container-fluid text-center">
    <div class="text-center"><h2> Manage Users All </h2></div>

</div>

<form style="max-width: 500px; margin: auto;">
    <div>
        <div class="border border-secondary rounded p-3">
            <form th:action="@{/api/v1/ListUsers/All}">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> Name: </label>
                        <div class="col-sm-10">
                            <input type="text" name="keyword" placeholder="Search name..." class="form-control" required minlength="1" maxlength="45" />
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary m-2"> Search </button>
                        <button type="button" th:href="@{'/api/v1/ListUsers/All'}" class="btn btn-success m-2" onclick="cancelForm()"> Clear </button>
                    </div>
            </form>
        </div>
        <p></p>
        <div class="border border-secondary rounded p-3">
            <form th:action="@{/api/v1/ListUsers/All}" >
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Id: </label>
                    <div class="col-sm-10">
                        <input type="number" name="id" placeholder="Search id..." class="form-control" required minlength="1" maxlength="99" />
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary m-2"> Search </button>
                    <!--<button type="submit" class="btn btn-primary m-2"> Search </button>-->
                    <button type="button" th:href="@{'/api/v1/ListUsers/All'}" class="btn btn-success m-2" onclick="cancelForm()"> Clear </button>
                </div>
            </form>
        </div>

    </div>
</form>

<div class="container-fluid text-center">
    <div><h2>  </h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/api/v1/ListUsers/AddNewUser}"> Add new user </a> <!-- Đường dẫn thêm 1 user mới -->
        <a class="h3"> || </a>
        <a class="h3" th:href="@{/}"> Back to home </a> <!-- Trở lại trang chủ -->
    </div>

    <div th:if="${message}" class="alert alert-success text-center">

        [[${message}]]     <!-- Hiển thị thông báo, hàm thông báo xem trong UserControllerFullStack -->

    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enabled</th>
                <th>Setting</th>
                <!-- <th> </th> -->
            </tr>
            </thead>

            <tbody>
            <th:block th:each="user : ${listUsersAll}">   <!-- Tên "listUsersAll" đã đặt trong UserControllerFullStack, @GetMapping ("/ListUsers/All") -->
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.enabled}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/api/v1/ListUsers/update/' + ${user.id}}" > Edit </a>                 <!-- Xem trong UserControllerFullStack hàm @GetMapping("/ListUsers/update/{id}") -->
                        <!--<a class="h4 mr-3" th:href="@{'/api/v1/ListUsers/delete/' + ${user.id}}" > Delete </a> -->       <!-- Xem trong UserControllerFullStack hàm @GetMapping("/ListUsers/delete/{id}") -->
                        <!--
                        <a class="dialog-btn h4 mr-3" href="#my-dialog-delete">Delete 02</a>
                        <div class="dialog overlay" id="my-dialog-delete">
                            <div class="text-center">
                                <h3>Do you want delete ?</h3>
                                    <p> <a class="btn btn-danger" th:href="@{'/api/v1/ListUsers/delete/' + ${user.id}}" >Yes</a></p>
                                    <p> <a class="btn btn-success" th:href="@{/api/v1/ListUsers}" >Cancel</a></p>
                            </div>
                        </div>-->

                     </td>
                </tr>
            </th:block>

            </tbody>

        </table>

    </div>
</div>
<script>

</script>
<!--
<script src ="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</body>
</html>